<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de Aluno</title>
<link rel="stylesheet" th:href="@{/resources/css/estilo.css}">
</head>
<body>
<h1>Cadastro de Aluno</h1>

<div th:text="${mensagem}" style="color:blue"></div>

<form action="cadastre" method="POST" th:object="${aluno}">
	<input type="hidden" th:field="*{id}" />
	<span class="label">Nome:</span><input type="text" name="nome" th:field="*{nome}"/><br/>
	
	<span class="label">Matrícula:</span> <input type="text" name="matricula" th:field="*{matricula}"/><br/>
	
	<span class="label">Login:</span> <input type="text" name="login" th:field="*{login}"/><br/>
	
	<span class="label">País:</span>
	<select name="pais" th:field="*{pais}">
		<option th:each="pais : ${paises}" th:value="${pais}" th:text="${pais}">
	</select>
	
	<span class="label">Linguagem:</span>
	<input name="linguagem" type="radio" th:field="*{linguagem}"
		th:each="linguagem : ${linguagens}" 
		th:text="${linguagem}" 
		th:value="${linguagem}"/><br/>
	
	<span class="label">Fluência:</span>
	<input name="fluencia" type="checkbox" th:field="*{fluencia}" 
		th:each="lingua : ${linguas}" 
		th:text="${lingua}" 
		th:value="${lingua}"/><br/>
		
	<input class="submit-button" type="submit" value="Salvar" />
</form>
</body>
</html>




