<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Página Principal do Usuário</title>
<link rel="stylesheet" th:href="@{/resources/css/estilo.css}">
</head>
<body>
<h1>Login validado com sucesso!</h1>
	<img th:src="@{/resources/images/logo.png}"/>
	<p>Bem vindo, <span th:text="${usuario}"></span>!</p>
</body>
</html>



