<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Página Principal do Usuário</title>
</head>
<body>
<h1>Login recuperado com sucesso!</h1>
	<p>Bem vindo, <span th:text="${param.login}"></span>!</p>
</body>
</html>



